    
<%= simple_form_for([@post ,@post.comments.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :commenter, input_html:{class:'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :body %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class:'btn btn-default' %>
  </div>
<% end %>