<div id="banner">
</div>



<div id="content">
  <div class="social-line">
    <div class="container">
      <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
               Post -<%=  @posts.count %>
            </p>
          </div>
          <div class="col-md-3">
            <p><span class="glyphicon glyphicon-heart" aria-hidden="true">
               Like -26
            </p>
          </div>
          <div class="col-md-3">
            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true">
              view -<%= @view_count %>
            </p>
          </div>
          
      </div>
    </div>
  </div>
  <div class="container">
    <br>
    <br>
   
    <% @posts.each do |post| %>
    
        <div class="row">
            <div class="col-xs-3 col-sm-6 col-lg-4 ">
              <span class="img"><%= link_to (image_tag post.image.url(:small)) , post %></span>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-9 col-sm-6 col-lg-8 ">  
              <h3><%= link_to  post.title , post %></h3>
              <p id="index-info"><%=  pluralize(post.get_upvotes.size, "Like")  +" " + "#{post.impressionist_count} Views "%></p>
              <p>
                <%=  post.summary %>
              </p>
            </div>
        </div>
        <br>
        <hr>
        <br>
    <% end %> 
    <footer>
      <div>
        <p><%= link_to "Back to Top" , "#content" , id: "top" %></p>
      </div>
    </footer>
  </div> 

</div>





