<div id="banner">
  <h1 class="banner-title animated fadeIn">MAYA THE WORD</h1>
  <div id="heroine-overlay"></div>
  
</div>



<div id="content">
  <div class="social-line ">
    <div class="container">
      <div class="row animated fadeIn">
          <div class="col-md-4">
            <p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
               <span>Post - <strong><%=  @posts.count %></strong></span>
          </div>
          <div class="col-md-4">
            <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
               <span>Like - <strong><%=  @like_count %></strong></span>
            </p>
          </div>
          <div class="col-md-4">
            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <span>View - <strong><%=  @view_count %></strong></span>
            </p>
          </div>
          
      </div>
    </div>
  </div>
  <div class="container">
  
    <br>
    <br>
    <div class="section">
      <h2 class="section-title">I write my feelings down ....</h2>
    <% @posts.each do |post| %>
    
        <div class="row">
            <p class="post-title"><%= link_to  post.title , post %><p>
          <br>  
            
            
            <div class="col-xs-2 col-sm-12 col-lg-4 ">
              <span class="img"><%= link_to (image_tag post.image.url(:small)) , post %></span>
            </div>
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="col-xs-10 col-sm-12 col-lg-8 post-index ">  
              
              
              <p class="index-summary">
                <%=  post.summary %>
              </p>
              <p class="read">
                <%= link_to "Start Reading . . . " , post %> 
              </p>
              
              <p class="index-info">
                
                  <%=  pluralize(post.get_upvotes.size, "Like")  +" / " + "#{post.impressionist_count} Views " + " /" + "#{post.comments.count} comments " %>
                
              </p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        
    <% end %> 
    </div>
    <footer class="first">
      <div>
        <p><%= link_to "Back to Top" , "#content" , id: "top" %></p>
      </div>
    </footer>
    
    

  </div> 
  

</div>
<footer class="second">
    	<p class="second-footer-text">Made with<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> for Maya</p>
</footer>





