<div class="container">

<div class="title animated fadeIn" id="title">
    <br>
    <p><%= @post.title %></p>
    <hr>
</div>    

<div class="row animated fadeIn">
    <div class="col-xs-10  col-sm-10 col-lg-10 info">
        <em>Submitted <%= time_ago_in_words(@post.created_at) %> Ago , </em>
        <p><%= "#{@post.impressionist_count} views so far!" %></p> 
    </div>
    
    <div class="col-xs-2  col-sm-2 col-lg-2">
        <% if current_user.try(:admin?) %>
            <%= link_to edit_post_path(@post) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
            <%= link_to post_path(@post), method: :delete , data: {confirm: "Are you sure , Cherry ?"} do %>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %> 
        <% end %> 
    </div>
    
</div>




<div class="row animated fadeIn">
    <div class="col-xs-12  col-sm-12 col-lg-12 ">
       <p><%= raw @post.content %></p>
       <br>
       <hr>
       <p id="to_top"><%= link_to "Back up Top" , "#title" , id: "top" %></p>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-12  col-sm-12 col-lg-12 l ">
        <p class="soc">
            Spread the Word - 
            <%= social_share_button_tag("Mayatheword") %>
        </p>
    </div>
    <div class="col-xs-12  col-sm-12 col-lg-12 like l ">
        <% if current_user.try(:admin?) %>
            <%= pluralize(@post.get_upvotes.size , "person") + " have loved your writing !" if (@post.get_upvotes.size > 0) %>
        <% else %> 
            
            <%= link_to like_post_path(@post), method: :put do %>
              <i class="glyphicon glyphicon-heart"></i><span><strong>Like</strong></span>
            <% end %>
            <% if (@post.get_upvotes.size > 0) %>
                <%= ", " + pluralize(@post.get_upvotes.size, "Like") + " so far !" %>
            <% else %>
                <p>Be the FIRST to like this post !</p>
            <% end %>    
        <% end %> 
    </div>
    
</div>
<br>


<div class="row">
    <div class="col-xs-3  col-sm-3 col-lg-3 prev l">
        <% if @previous %>
            <%= link_to @previous do %>
                <span class="glyphicon glyphicon-arrow-left"></span><span><%= @previous.title %></span>
            <% end %>
        <% end %>
    </div>
    <div class="col-xs-6  col-sm-6 col-lg-6">
        
    </div>
    <div class="col-xs-3  col-sm-3 col-lg-3 next l">
        <% if @next %>
            <%= link_to @next do %>
                <span><%= @next.title %></span><span class="glyphicon glyphicon-arrow-right"></span>
            <% end %>
        <% end %>
    </div>
</div>

<br>

<div class="com l">
    <%= link_to "#" , id: "comments-link" do %>
        <i class="glyphicon glyphicon-comment"></i><span><strong>View Comments</strong></span>
    <% end %>
</div>
    


<section id="comments-section">
    <ol id="comments">
        <%= render @comments %>
    </ol>    
        <% unless current_user.try(:admin?) %>
            <%= render "comments/form" %>
        <% end %>
</section>

<br>

<div>
 
</div>
   
</div>
